# Flask Settings
FLASK_SECRET_KEY=yoursecretkeyhere

# MQTT Settings
MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
TOPIC_TELEMETRY=cardiosentinel/telemetry
TOPIC_ALERT=cardiosentinel/alert

# ESP32 WiFi Settings (Copy these to your .ino file)
WIFI_SSID=your_wifi_ssid
WIFI_PASSWORD=your_wifi_password
